<div class="content-content">
    <div class="container-content">
        <div class="container-cart">
            <div class="title-cart">
                <h1>GIỎ HÀNG CỦA BẠN</h1>
            </div>
            <div class="form-cart" id="form-cart">
                <form action="">
                    <div class="cart-thead">
                        <div class="a-center id" style="width: 5%">STT</div>
                        <div class="a-center image" style="width: 17%">Ảnh sản phẩm</div>
                        <div class="a-center name" style="width: 33%">Tên sản phẩm</div>
                        <div class="a-center price" style="width: 15%">Đơn giá</div>
                        <div class="a-center quantity" style="width: 9%">Số lượng</div>
                        <div class="a-center price" style="width: 15%">Thành tiền</div>
                        <div class="a-center del" style="width: 6%;"><a id="remove" style="cursor: pointer;">Xóa tất
                                cả</a></div>
                    </div>
                    <div class="cart-body">
                        {{!-- <div class="a-center image" style="width: 17%">
                            <a href="">
                                <img src="./images/product-image (5).jpg" alt="product-cart">
                            </a>
                        </div>
                        <div class="a-center name" style="width: 33%">Ghế Luxury</div>
                        <div class="a-center price" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center quantity" style="width: 14%">
                            <input type="text" value="1" maxlength="20" minlength="0" class="ipt">
                        </div>
                        <div class="a-center price none" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center del" style="width: 6%;">
                            <button>Xóa</button>
                        </div> --}}
                    </div>
                </form>

                <div class="cart-collaterals">
                    <p>Tổng tiền thanh toán: <span class="price">650.000</span></p>
                </div>
                {{#if user}}
                <div class="cart-submit">
                    <button class="btn btn_buyCtn">Tiếp tục mua hàng</button>
                    <a href="{{ROOT_URL}}/checkout"><button class="btn btn_buyNow">Đặt hàng ngay</button></a>
                </div>
                {{else}}
                <div class="cart-submit">
                    <a href="{{ROOT_URL}}/checkout"><button class="btn btn_buyNow">Vui lòng đăng nhập để đặt
                            hàng</button></a>
                </div>
                {{/if}}

            </div>
        </div>
    </div>
</div>
<script>


    let cartItems = [];
    const getCart = function () {
        cartItems = JSON.parse(localStorage.getItem('cart'))
        console.table(cartItems)
    }
    $(document).ready(function () {
        const cartBody = $('.form-cart .cart-body');
        const totalPriceElement = $('.cart-collaterals .price');
        const formCart = $('#form-cart')
        
        function renderCart() {
            getCart()
            let totalPrice = 0;
            console.log('rendering',cartItems)
            cartBody.empty()
            if(cartItems == null || cartItems == []){
                console.log('emptyyy',cartItems)
                formCart.empty()
                formCart.html('<h2 style="text-align:center;">Giỏ hàng chưa có gì</h2>')
            } else{
                $.each(cartItems, function (index, item) {
                const newCartItem = `
                <div class="cart-body">
                    <div class="a-center id" style="width: 5%">${index + 1}</div>
                    <div class="a-center image" style="width: 17%">
                        <a href="">
                            <img src="${item.image}" alt="product-cart">
                        </a>
                    </div>
                    <div class="a-center name" style="width: 33%">${item.name_pd}</div>
                    <div class="a-center price" style="width: 15%">${item.price.toLocaleString('vi-VN')} <span>đ</span></div>
                    <div class="a-center quantity" style="width: 9%">
                        <input data-id="${item.id_pd}" type="number" value="${item.qt}" maxlength="20" minlength="0" class="ipt">
                    </div>
                    <div class="a-center price thanhtien none" style="width: 15%">${item.price.toLocaleString('vi-VN')} <span>đ</span></div>
                    <div class="a-center del" style="width: 6%;">
                        <button class="delete-btn" data-id="${index}">Xóa</button>
                    </div>
                </div>
            `;
                cartBody.append(newCartItem);

                totalPrice += item.price * item.qt;
            })
            //let products = [{ id: 1, name: 'a' }, { id: 2, name: 'b' }, { id: 3, name: 'c' }, { id: 4, name: 'd' }];
            totalPriceElement.text(totalPrice.toLocaleString() + ' đ');
            }

            
        }

        renderCart();
        function quantityChange() {

            let inputsArray = [];

            $('.ipt').each(function () {
                let id = $(this).data('id'); // Lấy giá trị của data-id
                let number = $(this).val(); // Lấy giá trị của input

                inputsArray.push({ id: id, qt: +number });
            });
            console.log('inputsArray', inputsArray)
            // Duyệt qua mảng products và inputsArray để cập nhật trường number
            cartItems.forEach(product => {
                let inputItem = inputsArray.find(item => item.id == product.id_pd);
                if (inputItem) {
                    product.qt = inputItem.qt;
                }
            });
            localStorage.setItem('cart', JSON.stringify(cartItems));
        }
        $('.ipt').change(function (e) {
            //update cartItems qt & tinh tong tien


            console.log(e.target.parentElement.parentElement.getElementsByClassName('thanhtien').item(0))
            quantityChange()
            console.log('cartItems cartItems', cartItems); // Hiển thị mảng products với trường number mới
            const idpd = e.target.getAttribute('data-id')
            const thisPd = cartItems.find(item => item.id_pd == idpd)
            const totalOne = (thisPd.price * thisPd.qt).toLocaleString('vi-VN')
            e.target.parentElement.parentElement.getElementsByClassName('thanhtien').item(0).innerHTML = totalOne + 'đ'
            let totalAmount = cartItems.reduce((total, product) => {
                return total + (product.price * product.qt);
            }, 0);
            totalPriceElement.text(totalAmount.toLocaleString() + ' đ');
        })
        $(document).on('click', '.delete-btn', function (e) {
            e.preventDefault()
            const index = $(this).data('id');
            cartItems.splice(index, 1);
            localStorage.setItem('cart', JSON.stringify(cartItems));
            renderCart()
        });
        $(document).on('click', '#remove', function (e) {
            e.preventDefault()
            cartItems = []
            localStorage.clear();
            renderCart()
        });
        //giới hạn số lượng
        const inputs = document.querySelectorAll('.ipt');

        inputs.forEach(input => {
            input.addEventListener('input', function () {
                if (this.value < 1) {
                    this.value = 1;
                } else if (this.value > 10) {
                    this.value = 10;
                }
            });
        });
    });

</script>