<div class="content-content">
    <div class="container-content">
        <div class="container-cart">
            <div class="title-cart">
                <h1>GIỎ HÀNG CỦA BẠN</h1>
            </div>
            <div class="form-cart">
                <form action="">
                    <div class="cart-thead">
                        <div class="a-center image" style="width: 17%">Ảnh sản phẩm</div>
                        <div class="a-center name" style="width: 33%">Tên sản phẩm</div>
                        <div class="a-center price" style="width: 15%">Đơn giá</div>
                        <div class="a-center quantity" style="width: 14%">Số lượng</div>
                        <div class="a-center price" style="width: 15%">Thành tiền</div>
                        <div class="a-center del" style="width: 6%;">Xóa</div>
                    </div>
                    <div class="cart-body">
                        <div class="a-center image" style="width: 17%">
                            <a href="">
                                <img src="./images/product-image (5).jpg" alt="product-cart">
                            </a>
                        </div>
                        <div class="a-center name" style="width: 33%">Ghế Luxury</div>
                        <div class="a-center price" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center quantity" style="width: 14%">
                            <input type="text" value="1" maxlength="20" minlength="0" class="ipt">
                        </div>
                        <div class="a-center price none" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center del" style="width: 6%;">
                            <button>Xóa</button>
                        </div>
                    </div>
                    <div class="cart-body">
                        <div class="a-center image" style="width: 17%">
                            <a href="">
                                <img src="./images/product-image (4).jpg" alt="product-cart">
                            </a>
                        </div>
                        <div class="a-center name" style="width: 33%">Ghế Luxury</div>
                        <div class="a-center price" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center quantity" style="width: 14%">
                            <input type="text" value="1" maxlength="20" minlength="0" class="ipt">
                        </div>
                        <div class="a-center price none" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center del" style="width: 6%;">
                            <button>Xóa</button>
                        </div>
                    </div>
                    <div class="cart-body">
                        <div class="a-center image" style="width: 17%">
                            <a href="">
                                <img src="./images/product-image-4.jpg" alt=" product-cart">
                            </a>
                        </div>
                        <div class="a-center name" style="width: 33%">Ghế Luxury</div>
                        <div class="a-center price" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center quantity" style="width: 14%">
                            <input type="text" value="1" maxlength="20" minlength="0" class="ipt">
                        </div>
                        <div class="a-center price none" style="width: 15%">650.000 <span>đ</span>
                        </div>
                        <div class="a-center del" style="width: 6%;">
                            <button>Xóa</button>
                        </div>
                    </div>
                </form>

                <div class="cart-collaterals">
                    <p>Tổng tiền thanh toán: <span class="price">650.000</span><span class="price">đ</span></p>
                </div>

                <div class="cart-submit">
                    <button class="btn btn_buyCtn">Tiếp tục mua hàng</button>
                    <a href="./checkout.html"><button class="btn btn_buyNow">Thanh toán ngay</button></a>
                </div>
            </div>
        </div>
    </div>
</div>