<div id="wap">
    <div id="wap-content">
        <div id="main">

            <div class="logo-left">
                <h1 class="shop_name"><a href="">T-SIX FURNITURE</a></h1>
            </div>

            <div id="main-content">
                <div class="col section">
                    <h2 class="section_title">Thông tin nhận hàng</h2>

                    <div class="field">
                        <div class="field_input-wrap">
                            <input type="text" class="field_input" placeholder="Họ và tên">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field_input-wrap">
                            <input type="text" class="field_input" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <div class="field_input-wrap">
                            <input type="text" class="field_input" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" placeholder="Thành phố">
                    </div>
                    <div class="field">
                        <input type="text" class="field_input" placeholder="Quận huyện">
                    </div>

                    <div class="field">
                        <input type="text" class="field_input" placeholder="Phường xã">
                    </div>

                    <div class="field">
                        <div class="field_input-wrap">
                            <input type="text" class="field_input" placeholder="Số nhà, tên đường">
                        </div>
                    </div>


                    <div class="field">
                        <div class="field_input-wrap">
                            <textarea name="" id="" cols="20" rows="3" style="padding: 10px;"
                                placeholder="Ghi chú (tùy chọn)"></textarea>
                        </div>
                    </div>


                </div>


                <div class="col article ">
                    <h2 class="article_title_ship">Vận chuyển</h2>
                    <div class="radio_input">
                        <input checked type="radio" id="" disabled>
                        <label for="" class="radio_label">
                            <span class="radio_label_primary">Giao hàng tận nơi</span>
                            <span class="radio_label_price">35.000đ</span>
                        </label>
                    </div>

                    <h2 class="article_title_price">Thanh toán</h2>
                    <div class="radio_input">
                        <input type="radio" id="thanhtoan">
                        <label for="thanhtoan" class="radio_label">
                            <span class="radio_label_primary">Thanh toán khi giao hàng (COD)</span>
                            <span class="radio_label_price"><i class="fa-solid fa-money-bill"></i></span>
                        </label>
                    </div>

                </div>

            </div>
        </div>


        <div id="aside">

            <h2 class="aside_title">Đơn hàng (<span>1</span> sản phẩm)</h2>

            <div class="oder_sumary">
                <table class="product-table">
                    <caption class="visually-hidden">Chi tiết đơn hàng</caption>
                    <thead class="product-table__header">
                        <tr>
                            <th>
                                <span class="visually-hidden">Ảnh sản phẩm</span>
                            </th>
                            <th>
                                <span class="visually-hidden">Mô tả</span>
                            </th>
                            <th>
                                <span class="visually-hidden">Sổ lượng</span>
                            </th>
                            <th>
                                <span class="visually-hidden">Đơn giá</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product">
                            <th class="product__image">
                                <div class="product-thumbnail">
                                    <div class="product-thumbnail__wrapper">
                                        <img src="./images/sp.jpg" width="80px" height="80px">
                                    </div>
                                </div>
                            </th>
                            <th class="product__description">
                                <span class="product__description__name">
                                    Ghế Luxury
                                </span>

                            </th>
                            <td class="product__quantity visually-hidden"><em>Số lượng:</em> 1</td>
                            <td class="product__price">
                                570.000₫
                            </td>
                        </tr>

                    </tbody>
                </table>


                <div class="field">
                    <div class="field_input-wrapper">
                        <input class="field_input_sale" type="text" placeholder="Nhập mã giảm giá">
                        <button class="field_button">Áp dụng</button>
                    </div>
                </div>

                <table class="total_line_table">
                    <caption class="visually-hidden">Tổng giá trị</caption>
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Tạm tính</th>
                            <td>500.000đ</td>
                        </tr>
                        <tr>
                            <th>Phí vận chuyển</th>
                            <td>40.000đ</td>
                        </tr>
                    </tbody>
                    <tfoot class="total-price">
                        <tr>
                            <th>Tổng cộng</th>
                            <td class="price">540.000đ</td>
                        </tr>
                    </tfoot>
                </table>
                <button class="btn-buy">ĐẶT HÀNG NGAY</button>

            </div>

            <div class="back">
                <a href="./product.html" class="buy"><i class="fa-solid fa-arrow-left"></i> Mua thêm sản phẩm</a>
                <a href="./index.html" class="backhome"><i class="fa-solid fa-arrow-left"></i> Home</a>
            </div>
        </div>

    </div>
</div>