<div class="content-content">
    <div class="container-content">
        <div class="container-news_details">
            <div class="title">
                <h1>Thư thái trong chính căn nhà của bạn</h1>
            </div>
            <div class="content">
                <p>Nét thư thái và thanh lịch là cảm nhận đầu tiên mà Nhà nghĩ tới khi kể cho khách hàng nghe về
                    ý tưởng căn hộ. Giữa thành phố hiện đại thật hiếm có cơ hội để chúng ta được gần gũi với
                    thiên nhiên nhưng với phong cách Tropical cùng sự tinh gọn của Minimalism, Nhà muốn đem cả
                    thiên nhiên gần hơn với cuộc sống hằng ngày.

                    Tận dụng điều kiện môi trường, Nhà bố trí hai mặt căn phòng bằng lớp kính để đón ánh sáng
                    cùng với sơn tường màu trắng tạo cho không gian sáng sủa rất tự nhiên.

                    Vì Việt Nam chúng ta nằm trong khu vực Nhiệt đới ẩm gió mùa chính vì vậy nên mùa đông thường
                    dài, rét và ẩm ướt. Đồng thời, Nhà muốn giữ nét đặc trưng Đông Á cho căn phòng nên đã dử
                    dụng gam màu chủ đạo là cam sáng cho sàn nhà và các đồ dùng bằng gỗ tạo cho căn phòng thêm
                    cảm giác vững chắc. Ngoài ra, xuất hiện của cây cảnh trong không gian trầm ấm sẽ tạo điểm
                    nhấn nổi bật và tăng thêm vẻ tươi mát cho cây cối.</p>
            </div>
            <div class="post">
                <b>Đăng bởi: T-SIX FUNITURE</b>
            </div>
        </div>
    </div>
</div>