<div class="content-content">
    <div class="container-content">
        <div class="container-news_details">
            <div class="title">
                <h1>{{dataPost.title}}</h1>
            </div>
            <div class="content">
                <div><img src="{{dataPost.image}}" alt="" width="50%"></div>
                <p>{{dataPost.content}}</p>
            </div>
            <div class="post">
                <b>Đăng bởi: T-SIX FUNITURE {{dataPost.id_user}}</b>
            </div>
        </div>
    </div>
</div>