<div class="content-content">
    <div class="container-content">
        <div class="warrantyPolicy">
            <h3>Chính sách bảo hành</h3>

            <div class="policy-regime">
                <strong>A. CHẾ ĐỘ VÀ THỜI GIAN BẢO HÀNH ĐỒ NỘI THẤT</strong>
                <p><a href="./index.html">T-SIX FURNITURE</a> chỉ nhận bảo hành đối với các sản phẩm do
                    chúng tôi trực tiếp phân
                    phối –
                    sản xuất và còn trong thời hạn bảo hành. Việc bảo hành sẽ tùy theo trường hợp cụ thể
                    mà
                    chúng tôi sẽ thay thế mới hoàn toàn hoặc giới hạn việc sửa chữa, thay thế phụ tùng.
                </p>
                <p>Chúng tôi chỉ bảo hành đối với những lỗi gây ra do nhà sản xuất trong quá trình sản
                    xuất
                    như lỗi kỹ thuật.</p>
                <p>Thời hạn bảo hành theo phiếu bảo hành do <a href="./index.html">T-SIX FURNITURE</a>
                    cung cấp cho Quý khách.</p>
                <p>Thời gian bảo hành đồ nội thất bằng gỗ là 12 tháng, chỉ bảo hành kỹ thuật, không bảo
                    hành
                    gỗ bị hư do mối mọt, vô nước, biến dạng do va đập mạnh, trầy xước do tiếp xúc vật
                    nhọn
                    trong quá trình sử dụng.</p>
                <p>Thời gian bảo hành: 9h-6h00 tất cả các ngày trong tuần (từ thứ 2 - chủ nhật) Chúng
                    tôi sẽ
                    phản hồi đã tiếp nhận yêu cầu bảo hành của khách hang trong 3 giờ làm việc.Tiến hành
                    bảo
                    hành từ 3-7 ngày làm việc</p>
            </div>
            <div class="note-policy">
                <strong>B. CÁC TRƯỜNG HỢP KHÔNG ĐƯỢC BẢO HÀNH ĐỒ NỘI THẤT</strong>

                <p>Sản phẩm bị hỏng do lỗi của người sử dụng hoặc có dấu hiệu sửa chữa trước khi mang
                    đến <a href="./index.html">T-SIX FURNITURE</a>. Bất kì sự tự ý thay đổi, sửa chữa
                    nào từ phía khách hàng mà không
                    do nhân viên kỹ thuật của <a href="./index.html">T-SIX FURNITURE</a> hướng dẫn cũng
                    không được chấp nhận.</p>
                <p>Không có phiếu bảo hành hoặc trường hợp Sản phẩm hết thời hạn bảo hành.</p>
                <p>Phiếu bảo hành không hợp lệ: bị rách, bị sửa đổi hoặc không xác định được</p>
                <p>Sản phẩm bảo quản không đúng hướng dẫn và vệ sinh sản phẩm không đúng cách.</p>
                <p>Sản phẩm bị trầy xước hư hỏng do sử dụng không cẩn thận (Ví dụ: kéo lê sản phẩm, đứng
                    lên bàn hoặc ghế.....)</p>
                <p>Bảo hành không áp dụng cho hao mòn thông thường sau một thời gian sử dụng ( Ví dụ:
                    phai mờ, rỉ sét...)</p>
                <p>Sản phẩm bị biến dạng do môi trường bên ngoài bất thường (môi trường ẩm ướt, khô
                    nóng)</p>
                <p>Không áp dụng chính sách bảo hành cho các đơn hàng có đóng mộc hàng không bảo hành,
                    hàng
                    khuyến mãi hoặc hàng thanh lý.</p>
            </div>
            <div class="procedure-policy">
                <strong>C. QUY TRÌNH BẢO HÀNH ĐỒ NỘI THẤT</strong>

                <p>Đối với những sản phẩm có kích thước và trong lượng nhẹ, <a href="./index.html">T-SIX
                        FURNITURE</a> trực tiếp bảo
                    hành ngay tại kho. Quý khách vui lòng mang sản phẩm đến để được nhân viên kỹ thuật
                    của chúng tôi sửa chữa miễn phí.</p>
                <p>Đối với những đơn hàng lớn, hoặc quá cồng kềnh, <a href="./index.html">T-SIX
                        FURNITURE</a> sẽ tiến hành bảo hành tận
                    nơi cho khách hàng trong nội thành TPHCM. Đối với các đơn hàng ngoại tỉnh, sẽ bảo
                    hành khi có đơn hàng gần địa điểm người mua hoặc <a href="./index.html">T-SIX
                        FURNITURE</a> sẽ chuyển phát nhanh
                    phụ kiện thay thế cho khách hàng.</p>
                <p>Ngoài ra, để đảm bảo quyền lợi của khách hàng, <a href="./index.html">T-SIX
                        FURNITURE</a> sẽ xem xét các trường hợp
                    cụ thể với điều kiện bảo hành phù hợp .Trong điều kiện sản phẩm bị hư hỏng, mất mát
                    trong quá trình sử dụng, <a href="./index.html">T-SIX FURNITURE</a> sẽ hỗ trợ, cung
                    cấp các chi tiết, linh kiện
                    tương tự để thay thế và có chức năng tương đương. Đội ngũ kĩ thuật chuyên nghiệp,
                    tay nghề cao của Nội thất <a href="./index.html">T-SIX FURNITURE</a> luôn sẵn sàng
                    phục vụ quý khách tận tình nhất
                </p>
                <p>Đề nghị quý khách kiểm tra hàng trước khi thanh toán. Để yêu cầu bảo hành sản phẩm,
                    Quý khách vui lòng cung cấp đầy đủ thông tin về tình trạng hàng hóa bằng cách gửi
                    hình ảnh vào mail: huypp642003@gmail.com hoặc <strong style="display: inline;">Hotline</strong>:
                    0898877604,
                    để nhân viên chăm
                    sóc khách hàng gọi lại
                    trong thời gian sớm nhất. Chúng tôi xin chân thành cảm ơn!</p>
            </div>
            <div class="image_warrant">
                <img src="./images/baohanh1.png" width="100%" alt="">
            </div>
        </div>
    </div>
</div>