/*------------------ Smartphone----------------------- max-width: 480px */
@media only screen and (max-width: 480px) {
  /* header */
  .header {
    height: auto;
    padding: 20px 10px;
  }
  .container-header {
    height: 100%;
    flex-direction: column;
    padding: 0 !important;
  }
  .logo-header img {
    width: 180px;
  }
  .search .form-search {
    width: 250px;
    margin: 10px 0;
  }
  .form-search input {
    border: none;
    border-left: 1px solid var(--orange-color);
    border-right: 1px solid var(--orange-color);
    border-bottom: 2px solid var(--orange-color);
    border-top: 0.1px solid var(--orange-color);
    font-weight: 500;
  }
  .form-search button {
    width: 40px;
    height: 40px;
    background-color: var(--orange-color);
    right: 10px;
    top: 0px;
  }

  .account a {
    margin-right: 10px;
    font-size: 1.4rem;
  }
  .account .text_sign-up {
    border-right: 1px solid #000;
    padding-right: 10px;
  }

  .cart {
    margin-left: 20px;
  }
  .cart a i {
    font-size: 2.8rem;
  }
  /* menu */
  .menu {
    height: 50px;
  }
  .container-menu {
    padding: 0 !important;
  }
  .slideshow-container {
    padding: 0 0;
  }
  .container-content {
    padding: 0 5px;
  }
  .img-show {
    padding: 5px 0;
  }
  .container_img-show .box-image-show {
    width: 49.5%;
  }
  .box-image-show .overlay-image-show p {
    font-size: 1.3rem !important;
  }

  .product-new-title h1,
  .product-hot-title h3 {
    margin-top: 10px;
    font-size: 1.8rem;
  }
  .product-new-listing .box,
  .product-hot-listing .box {
    width: 49.2%;
  }

  .box-image-show .overlay-image-show {
    opacity: 1;
  }

  .mr {
    margin-right: 0;
    margin-top: 2px;
  }
  .box-image-show .overlay-image-show {
    opacity: 1;
    background: none;
  }

  .product-new-listing .box .overlay-btn,
  .product-hot-listing .box .overlay-btn {
    opacity: 1;
    top: 3rem;
    background: none;
  }

  .product-new-listing .box .overlay-btn .btn,
  .product-hot-listing .box .overlay-btn .btn {
    background-color: #ffffff;
    color: var(--text-color);
  }
  .category-image .box-category-image {
    width: 33%;
  }
  .category-image {
    margin: 0;
  }
  .advertise {
    padding-bottom: 5px;
  }

  .news-box {
    width: 48%;
  }
  .title-news p {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .news-box .up-text strong {
    font-size: 1rem;
  }
  .news-box .text-box .title {
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 5rem;
    padding-right: 0;
  }

  .news-box .text-box .des {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-right: 0;
  }
  /* info */
  .container-information {
    padding: 20px;
  }
  .info-top {
    display: block;
    text-align: left;
  }

  .info-top .subscribe-text {
    display: block;
    margin: 20px 0;
  }

  .info-top .box-subscribe,
  .info-top .box-text,
  .info-top .box-form {
    width: 100%;
  }
  .info-top .box-text {
    padding: 0;
  }
  .info-top .subscribe-text {
    font-weight: 400;
    font-size: 1.3rem;
  }
  .logo-info {
    display: block;
  }

  .info-bot {
    display: block;
    text-align: left;
  }
  .info-bot .title {
    margin: 20px 0;
    font-size: 1.4rem;
  }
  .logo-info {
    width: 100%;
    display: block;
  }
  .info-bot-title {
    width: 100%;
  }
  .info-bot .address {
    width: 100%;
  }
  .info-bot .widget {
    width: 100%;
  }

  .info-bot a i {
    width: 20px;
  }
  .info-bot a {
    font-size: 1.3rem;
  }

  .subscribe-form input,
  .subscribe-form button {
    padding: 8px 15px;
  }

  .subscribe-form button {
    padding: 8px;
  }
  /* footer */
  .container-footer .text {
    color: #ffffff;
    font-size: 1.3rem;
  }

  /* menu responsive */

  .menu-responsive {
    width: 280px !important;
  }
  /* menu */
  .desk {
    display: none !important;
  }
  .toggle-menu {
    width: 100%;
    display: block !important;
  }
  .input-responsive:checked ~ .overlay-menu {
    display: block;
  }
  .input-responsive:checked ~ .menu-responsive {
    transform: translateX(0%);
  }
}
/* End Smartphone */

/* Show max-with 1023px  and min-width 768px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* .header {
    height: auto;
    padding: 20px 0;
  }*/
  .container-header {
    padding: 0 10px !important;
  }
  .menu {
    height: 50px;
  }
  .container-menu {
    padding: 0 10px !important;
  }
  .search .form-search {
    width: 250px;
  }
  /* slideshow responsive */
  .slideshow-container {
    padding: 0 10px;
  }
  .container-content {
    padding: 0 10px;
  }
  .box-image-show .overlay-image-show {
    opacity: 1;
    background: none;
  }

  .product-new-listing .box,
  .product-hot-listing .box {
    width: 32.5%;
  }

  .box-image-show .overlay-image-show {
    opacity: 1;
  }
  .box-image-show .overlay-image-show p {
    font-size: 1.3rem;
  }
  .product-new-listing .box .overlay-btn,
  .product-hot-listing .box .overlay-btn {
    opacity: 1;
    top: 4rem;
    background: none;
  }

  .product-new-listing .box .overlay-btn .btn,
  .product-hot-listing .box .overlay-btn .btn {
    background-color: #ffffff;
    color: var(--text-color);
  }

  /* news box */
  .news-box {
    width: 49%;
  }
  .title-news p {
    font-size: 1.4rem;
  }
  .news-box .up-text strong {
    font-size: 1.1rem;
  }
  .news-box .text-box .title {
    font-size: 1.6rem;
    font-weight: 500;
    max-height: 5rem;
    padding-right: 0;
  }

  .news-box .text-box .des {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding-right: 0;
  }
  /* info */
  .container-information {
    padding: 20px;
  }
  .info-top {
    display: block;
    text-align: center;
  }
  .logo-info img {
    width: 200px;
    padding-top: 40px;
  }
  .info-top .subscribe-text {
    margin: 20px 0;
  }

  .info-top .box-subscribe,
  .info-top .box-text,
  .info-top .box-form {
    width: 100%;
  }
  .info-top .box-text {
    padding: 0;
    width: 100%;
  }
  .info-bot .title {
    margin: 20px 0;
    font-size: 1.4rem;
  }
  .logo-info {
    width: 45%;
    display: block;
  }
  .info-bot-title {
    width: 45%;
  }
  .info-bot .address {
    width: 45%;
  }
  .info-bot .widget {
    width: 45%;
  }

  .info-bot a i {
    width: 20px;
  }
  .info-bot a {
    font-size: 1.4rem;
  }

  .info-bot {
    padding: 0 50px;
  }
  .info-bot .title {
    margin: 20px 0;
  }

  /* menu responsive */
  .desk {
    display: none !important;
  }
  .toggle-menu {
    width: 100%;
    display: block !important;
  }
  .input-responsive:checked ~ .overlay-menu {
    display: block;
  }
  .input-responsive:checked ~ .menu-responsive {
    transform: translateX(0%);
  }
  /* end menu responsive */
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* .header {
    height: auto;
    padding: 20px 0;
  }*/
  .header {
    height: auto;
    padding: 20px 10px;
  }
  .container-header {
    height: 100%;
    flex-direction: column;
    padding: 0 !important;
  }
  .logo-header img {
    width: 200px;
  }
  .search .form-search {
    width: 250px;
    margin: 10px 0;
  }
  .form-search input {
    border: none;
    border-left: 1px solid var(--orange-color);
    border-right: 1px solid var(--orange-color);
    border-bottom: 2px solid var(--orange-color);
    border-top: 0.1px solid var(--orange-color);
    font-weight: 500;
  }
  .form-search button {
    width: 40px;
    height: 40px;
    background-color: var(--orange-color);
    right: 10px;
    top: 0px;
  }

  .account a {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  .account .text_sign-up {
    border-right: 1px solid #000;
    padding-right: 10px;
  }

  .cart {
    margin-left: 20px;
  }
  .cart a i {
    font-size: 2.5rem;
  }
  .menu {
    height: 50px;
  }
  .container-menu {
    padding: 0 !important;
  }
  .search .form-search {
    width: 300px;
  }
  /* slideshow responsive */
  .slideshow-container {
    padding: 0 10px;
  }

  .container-content {
    padding: 0 10px;
  }

  .img-show {
    padding: 5px 0;
  }
  .box-image-show .overlay-image-show {
    opacity: 1;
    background: none;
  }

  .product-new-listing .box,
  .product-hot-listing .box {
    width: 30%;
  }

  .box-image-show .overlay-image-show {
    opacity: 1;
  }
  .box-image-show .overlay-image-show p {
    font-size: 1rem;
  }
  .product-new-listing .box .overlay-btn,
  .product-hot-listing .box .overlay-btn {
    opacity: 1;
    top: 4rem;
    background: none;
  }

  .product-new-listing .box .overlay-btn .btn,
  .product-hot-listing .box .overlay-btn .btn {
    background-color: #ffffff;
    color: var(--text-color);
  }

  /* news box */
  .news-box {
    width: 48%;
  }

  /* info */
  .container-information {
    padding: 20px;
  }
  .info-top {
    display: block;
    text-align: left;
  }

  .info-top .subscribe-text {
    display: block;
    margin: 20px 0;
  }

  .info-top .box-subscribe,
  .info-top .box-text,
  .info-top .box-form {
    width: 100%;
  }
  .info-top .box-text {
    padding: 0;
    width: 300px;
  }

  .info-bot {
    display: block;
    text-align: left;
  }
  .logo-info {
    width: 100%;
    display: block;
  }
  .info-bot-title {
    width: 100%;
  }
  .info-bot .address {
    width: 100%;
  }
  .info-bot .widget {
    width: 100%;
  }
  .logo-info {
    display: block;
  }
  .info-bot .title {
    margin: 20px 0;
  }

  /* menu responsive */
  .desk {
    display: none !important;
  }
  .toggle-menu {
    width: 100%;
    display: block !important;
  }
  .input-responsive:checked ~ .overlay-menu {
    display: block;
  }
  .input-responsive:checked ~ .menu-responsive {
    transform: translateX(0%);
  }
  .hotline-responsive {
    position: relative !important;
  }
  /* end menu responsive */
}

@media only screen and (min-width: 1024px) and (max-width: 1220px) {
  .menu-list .main-menu li a,
  .menu-list .main-menu li {
    list-style-type: none;
    margin-right: 10px;
    font-weight: 500;
  }
  .menu-list .main-menu li a {
    font-size: 1.2rem;
  }
}

/* navigation responsive */
.menu-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 320px;
  max-width: 100%;
  flex-direction: column;
  padding: 30px 30px 20px 30px;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 10000;
  transition-delay: 0.3s;
  transition: 0.5s ease;
  transform: translateX(-100%);
}
.overlay-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}
/* toggle navBars */
.toggle-menu {
  display: none;
  width: 100%;
  background-color: var(--orange-color);
  color: #fff;
  text-align: left;
  padding: 15px 15px 15px 30px;
  cursor: pointer;
}

.toggle-menu i {
  font-size: 1.5rem;
}
.toggle-menu:checked ~ .overlay-menu {
  display: block;
}
.menu-responsive .category-menu {
  position: relative;
  margin-bottom: 40px;
}

.menu-responsive .dropbtn-responsive {
  background-color: var(--orange-color);
  border-radius: 10px;
  padding: 10px 10px;
  width: 90%;
  display: block;
  color: #ffffff;
  font-size: 1.4rem;
  border: none;
}

.dropbtn-responsive:hover,
.dropbtn-responsive:focus {
  background-color: var(--orange-color);
}

.dropdown-content-responsive {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content-responsive a {
  color: var(--text-color);
  padding: 12px 16px;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.dropdown-content-responsive a i {
  font-size: 1rem;
  font-weight: bolder;
  color: var(--orange-color);
  padding-right: 8px;
}

.dropdown-content-responsive a:hover {
  background-color: var(--orange-color-2);
  border-radius: 5px;
  color: #ffffff;
  transition: 0.5s ease;
}
.dropdown-responsive:hover .dropbtn-responsive {
  background-color: var(--orange-color-2);
  cursor: pointer;
}

.show {
  display: block;
}
.showCategory_responsive {
  display: block;
}

.menu-responsive .category-menu .close i {
  position: absolute;
  color: #57606f;
  right: 0;
  bottom: 8px;
  font-size: 2rem;
}

.menu-list-responsive .main-menu-responsive {
  display: block;
  margin: 20px 0;
}
.menu-list-responsive .main-menu-responsive li {
  margin-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  font-weight: 400;
  border-bottom: 0.5px solid #a4b0be;
}
.menu-list-responsive .main-menu-responsive li i {
  font-size: 1.6rem;
  color: #57606f;
  width: 30px;
}
.menu-list-responsive .main-menu-responsive li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #57606f;
}

.hotline-responsive {
  position: absolute;
  bottom: 2px;
  padding-bottom: 20px;
}
.hotline-responsive span i {
  color: var(--orange-color-2);
  font-size: 1.8rem;
  margin-right: 5px;
}
.hotline-responsive .text {
  color: #57606f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 5px;
}

.hotline-responsive .phone {
  font-size: 1.88rem;
  color: var(--orange-color);
}
