/* reset and setup */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&display=swap");
:root {
  --orange-color: #f7941d;
  --orange-color-2: #fa8231;
  --text-color: #2f3542;
  --text-color-2: #40407a;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
ul,
li,
a {
  color: var(--text-color);
  text-decoration: none;
  list-style-type: none;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
  border-radius: 20px;
  border: 3px solid orange;
}
body {
  background-color: #ffffff;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}
/* app */
.app-furniture {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
/* header */
.header {
  width: 100vw;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.header .container-header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 50px;
  max-width: 1920px;
  margin: 0 auto;
}
.logo-header img {
  width: 150px;
}
.search {
  position: relative;
}
.search .form-search {
  width: 500px;
  height: 40px;
  position: relative;
}
.form-search input {
  width: 90%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  border: 2.5px solid var(--orange-color);
  outline: none;
}
.form-search button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--orange-color);
  color: #ffffff;
  position: absolute;
  right: 20px;
  top: -3px;
}
.search_dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  margin-top: 4px;
  min-width: 150px;
  width: 88%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 1;
}
.search_dropdown ul li {
  transition: 0.3s ease;
}
.search_dropdown ul li:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.search_dropdown ul li a {
  font-size: 1.4rem;
  display: block;
  padding: 10px 20px;
  font-weight: 400;
}
.search:hover .search_dropdown {
  display: block;
}
.account {
  position: relative;
}
.account a {
  margin: 0 5px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 500;
}
.account .hover:hover {
  color: var(--orange-color);
  transition: 0.3s ease;
}
.account .text_sign-up {
  border-right: 1px solid #000;
  padding-right: 6px;
}
.cart {
  margin-left: 30px;
}
.cart a i {
  font-size: 3rem;
  transform: rotate(-25deg);
  transition: 0.2s;
}
.cart a i:hover {
  transform: none;
}
.cart a {
  transition: 0.4s ease-in-out;
  color: var(--orange-color-2);
}
.cart .cart-num {
  position: absolute;
  padding-top: 2px;
  width: 18px;
  height: 18px;
  background-color: #dfeeec;
  border-radius: 50%;
  color: black;
  right: 5px;
  font-weight: bolder;
  bottom: 20px;
  text-align: center;
  z-index: 1;
  font-size: 1.2rem;
}

/* end header */

/* menu */
.menu {
  width: 100vw;
  height: 60px;
}
.menu .container-menu {
  height: 100%;
  padding: 0 50px 0 50px;
  max-width: 1920px;
  margin: 0 auto;
}
.menu .desk {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* dropdown category */
.nested-dropdowns {
  display: flex;
  background-color: var(--orange-color);
  border-radius: 10px;
  width: 250px;
  padding: 5px 20px;
  font-size: 1.6rem;
  border: none;
}

.cate-text {
  color: #ffffff;
  padding: 5px 10px;
}

.dropdownCategory {
  margin-left: -20px;
  padding: 8px 0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.nested-dropdowns__item {
  width: 250px;
  padding: 10px 20px;
  background-color: #f1f1f1;
}

.nested-dropdowns__item:hover,
.nested-dropdowns__item:hover a {
  background-color: var(--orange-color);
  color: #ffffff;
  transition: 0.2s ease;
}

.nested-dropdowns__item i {
  font-size: 1rem;
  width: 20px;
}
.nested-dropdowns__item a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 500;
}

.nested-dropdowns__item ul {
  width: 200px;
}
.nested-dropdowns li {
  cursor: pointer;
  position: relative;
}

/* The sub nested-dropdowns */
.nested-dropdowns ul {
  display: none;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 4;
}

.nested-dropdowns ul ul {
  left: 100%;
  position: absolute;
  top: 0;
  background-color: #f1f1f1;
  width: 200px;
}

.nested-dropdowns ul ul li:hover {
  background-color: var(--orange-color);
}
.nested-dropdowns ul ul li a {
  padding: 10px 12px;
  display: block;
}

.nested-dropdowns ul ul li:hover a {
  color: #ffffff;
  transition: 0.2s ease;
}
.nested-dropdowns li:hover > ul {
  display: block;
}

/* menu-list */
.menu-list .main-menu {
  display: flex;
}

.menu-list .main-menu li a,
.menu-list .main-menu li {
  margin-right: 18px;
  font-weight: 500;
}
.menu-list .main-menu li a {
  font-size: 1.4rem;
}

.menu-list .active-menu {
  color: var(--orange-color) !important;
}

.menu-list .main-menu li a:hover {
  color: var(--orange-color);
  transition: 0.2s ease;
}

.hotline span i {
  color: var(--orange-color-2);
  font-size: 1.5rem;
  margin-right: 5px;
}
.hotline .text {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 2px;
}

.hotline .phone {
  color: var(--text-color-2);
  font-size: 1.6rem;
}

/* end menu */

/* slideshow */
.slideshow {
  width: 100vw;
}
.slideshow-container {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  background-position: center center;
}
/* end slideshow */

/* ------------ */
/* main.css */
/* ------------- */

/* --------- footer --------- */

.footer {
  width: 100vw;
  height: 60px;
  background-color: var(--text-color);
}
.container-footer {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer .text {
  color: #ffffff;
  font-size: 1.2rem;
}

/* back-to-top */
#button {
  display: inline-block;
  background-color: var(--orange-color);
  color: #ffffff;
  border: none;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 0.8;
  visibility: visible;
}

.user-menu {
  position: relative;
  display: inline-block;
}

.user-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc; /* Màu sắc của icon/người dùng */
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  margin-left: 10px;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #fff;
  min-width: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333; /* Màu sắc chữ của menu dropdown */
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5; /* Màu nền khi hover */
}
.user-menu:hover .dropdown-menu {
  display: block;
}