<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{>admin/a_head}}
  <style>
    td.sort-name,.sort-content {
      max-width: 200px; /* Điều chỉnh độ rộng tối đa của phần tử */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
</head>

<body>
  <div class="page">
    {{>admin/a_nav}}
    <div class="page-wrapper">
    {{{body}}}
    {{>admin/a_footer}}
    </div>
  </div>
  {{>admin/a_script}}
</body>
</html>