<!DOCTYPE html>
<html>

<head>
  {{>client/head}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link rel="stylesheet" href="/css/checkout.css">
</head>

<body>
  <div class="app-furniture">
    {{{body}}}
    {{>client/footer}}
  </div>
  {{>client/chat}}
  <script src="/js/category-show.js"></script>
  <script src="/js/category-show_responsive.js"></script>
  <script src="/js/back-to-top.js"></script>
</body>

</html>