<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>head}}
  </head>
  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
  <script src="/javascripts/script.js"></script>
</html>
