<section class="information">
  <div class="container-information">
    <div class="info-top">
      <div class="subscribe box-subscribe">
        <p>Subscribe</p>
      </div>
      <div class="subscribe-text box-text">Đăng ký gmail của bạn để nhận những thông
        tin khuyến mãi và mới nhất
        của
        chúng tôi </p>
      </div>

      <div class="subscribe-form box-form">
        <form action>
          <input type="email" placeholder="Nhập gmail của bạn tại đây" required minlength="15">
          <button class>Subscribe</button>
        </form>
      </div>
    </div>
    <div class="info-bot">
      <div class="logo-info">
        <img src="./images/logo-web.png" alt="logo-info">
      </div>
      <div class="info-bot-title">
        <p class="title">Siêu thị nội thất T-SIX</p>
        <ul>
          <li><a href=""><i class="fa-solid fa-star"></i> Nâng tầm phong cách ngôi
              nhà của bạn</a></li>
          <li><a href=""><i class="fa-solid fa-star"></i> Sự lựa chọn của bạn là ưu
              tiên hàng đầu</a></li>
          <li><a href=""><i class="fa-solid fa-star"></i> Chúng tôi cùng bạn tạo nên sự
              hoàn mỹ</a></li>
        </ul>
      </div>
      <div class="address">
        <p class="title">Trụ sở chính: TsixHouse ĐN</p>
        <ul>
          <li><a href=""><i class="fa fa-phone" aria-hidden="true"></i>
              Hotline: +84 898 877 604</a></li>
          <li><a href=""><i class="fas fa-mail-bulk    "></i>
              Email: huypp642003@gmail.com</a></li>
          <li><a href=""><i class="fa-brands fa-facebook-f"></i>Trang chủ:
              facebook.com/tsix</a></li>
        </ul>
      </div>
      <div class="widget">

        <p class="title">THÔNG TIN VỀ CHÚNG TÔI</p>

        <div class="title-widget-link">
          <ul>
            <li><a href=""><i class="fa fa-home" aria-hidden="true"></i>
                Trang chủ giao diện website</a></li>
            <li><a href=""><i class="fa fa-phone" aria-hidden="true"></i>
                Thông tin liên hệ đến chúng tôi</a></li>
            <li><a href=""><i class="fa-solid fa-couch"></i> Thông tin sản
                phẩm của chúng tôi</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End information -->

<!-- footer -->
<footer class="footer">
  <div class="container-footer">
    <p class="text">Copyright &copy; duantotnghiep T-SIX | FPT POLYTECHNIC</p>
  </div>
</footer>
<!-- end footer -->

<!-- button back-to-top -->
<button id="button"><i class="fa-solid fa-arrow-up"></i></button>
<script>
      //thông báo
    const s = `{{success}}`
    const e = `{{error}}`
    if (s) toastr.success(s);
    if (e) toastr.error(e);
</script>