<section class="slideshow">
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="./images/slide-1.jpg" width="100%">
        </div>

        <div class="mySlides">
            <img src="./images/slide-2.jpg" width="100%">
        </div>

        <div class="mySlides">
            <img src="./images/slide-3.jpg" width="100%">
        </div>
    </div>
</section>